* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
  width: 100vw;
  height: 100vh;
}

#quizscreen {
  height: 92vh;
  width: 90vw;
  background-color: #2193b0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.scoree {
  background: -webkit-linear-gradient(#FF7F50, #FFDB58);
  background: linear-gradient(#FF7F50, #FFDB58);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question-count {
  color: whitesmoke;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.question-text {
  color: rgb(228, 226, 226);
  font-size: 1.5rem;
}

.question {
  height: 36%;
  width: 100%;
}

.answer {
  margin-top: 1rem;
  height: 55%;
  width: 72%;
}

.answer-button {
  appearance: button;
  background-color: #1CB0F6;
  ;
  border: solid transparent;
  border-radius: 1rem;
  border-width: 0 0 .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 1rem;
  font-weight: .5rem;
  letter-spacing: .05rem;
  line-height: 1rem;
  margin: .2rem;
  outline: none;
  overflow: visible;
  padding: .8rem 0;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.answer-button:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 1rem;
  border-width: 0 0 .5rem;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.answer-button:focus {
  user-select: auto;
}

.answer-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.answer-button:disabled {
  cursor: auto;
}

.quit-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.quit-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.quit-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.quit-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.next-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  float: right;
}

.next-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.next-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.next-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.actions {
  margin-top: 2rem;
}

#home {
  height: 92vh;
  width: 90vw;
  background-color: #2193b0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quizscreentwo {
  height: 92vh;
  width: 90vw;
  background-color: #2193b0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

#quizscreenthree {
  height: 92vh;
  width: 90vw;
  background-color: #2193b0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

#quizscreenfour {
  height: 92vh;
  width: 90vw;
  background-color: #2193b0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}